html, body {
  margin: 0;
  padding: 0;

}

.container {
  max-width: 885px;
  margin: 0 auto;
  padding: 0 10px;

}
.container2{
   margin: 0 30px;
   width: 380px
}
.jumbotron {
  background-image: url("shoes.jpg");
  background-size: cover;
  height: 550px;
  margin: 0 auto;
}

.header {
 background-image: url("wallsho.jpg");
 height: 100px;
 position: fixed;
 left: 0;
 top: 0;
 z-index: 10000;
 width: 100%;

}

.header h1{
  color: #333;
  text-shadow: 4px 2px 8px #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: 0.8% 1%;
  font-size: 190%;
  display: inline-block;
}

.header .login input{
    display: inline-table;
    margin: 0 auto;
    float:end;
}
.login{
  display: inline-block;
  margin: 15px;
  float: right;
}
.nav {
  list-style-type: none;
  margin: 0 0;
  left: 0;
  padding: 20px 0;
  border-color: #fff;
  display: inline-block;
}

.nav li {
  color: lavender;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 35px;
  text-transform: uppercase;
}

.nav select{
 padding: 1px;
 border: 2px solid #333;
 width: 100px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}
#errorMsg{
  color: #fff;
  text-shadow: 4px 2px 4px #black;
}
button{
 margin: 0 auto;
 padding: 1px;
 border: 2px solid #333;
 width: 80px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}

 .shoe{
 /*background-color: #FFF;*/
 /*padding: 10px;*/
 width: 250px;
 top: 20px;
 display: inline-block;

 }
 .photoColumn img{
  width: 30%;
  height: 20%;
  margin: 0 auto;
}
.shoe img {
  width: 60%;
  margin: 2% 10%;
  bottom: 0;
}
 .infoColumn {
  margin: 0 auto;
  text-align: center;
  top: 0;
  line-height: 1px;
}
.infoColumn h3, h4{
    font-family: arial;
    text-align: center;
    font-weight: lighter;
}
.sizes{
  font-size: 15px;
  float: right;
}
.addStockStyle{
    display: inline-block;
    width: 270px;
    float: right;
    margin:30px 80%;
    margin-bottom: 10px;
     /*z-index: auto;*/
     position: fixed;
}
.addStockStyle input{

    margin-bottom: 14px;

}
.addStockStyle h2{
    color: black;
    text-shadow: 4px 2px 4px #333;
    margin: 0 1.5px;
    margin-bottom: 10px;
}

.supporting {
  padding-top: 60px;
  padding-bottom: 60px;

}

.supporting .col {
    float: right;
    height: 20%;
    width: 30%;
}
.supporting .col img{
  height: 60%;
  width: 50%;
  display: block;
  opacity: 1;
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 18px;
  float: end;
}
.supporting img {
  height: 27px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}
.supporting .col li{
  list-style: none;
  float: left;
  text-align: center;

}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  position: relative;
}

.displayMenu {

    margin: 10% 5%;
    height: 550px;
    width: 775px;
    overflow-y: scroll;

}
.brands{
    text-align: center;
    float: left;

}
.brands ul{
    display: block;
    left: 0;
}
.brands li{
    display: list-item;
    text-align: -webkit-match-parent;
}
.brands img{
    width: 190px;
    margin: 0 0;
}
.brands li button{
    /*background-color: #FFFFFF;*/
    border-color: grey;
    border-left: none;
    border-right: none;
    background: transparent;
    width: 100%;
}
